mixin storeForm(store = {})
  form(action="/add" method="POST" class="card")
    label(for="name") Name
    input(type="text" name="name")
    label(for="Description") Description
    textarea(name="Description", cols="30", rows="10")
    - const choices = ['Wifi', 'Open late', 'Family Friendly', 'Vegetarian', 'Licensed']
    ul.tags
      each choice in choices 
        .tag.tag__chice
          input(type="checkbox" id=choice value=choice name="tags")
          label(for=choice)= choice
    input(type="submit" value="Save ➡️" class="button")